# 1 Cargar Data

In [1]:
import pandas as pd

In [2]:
companies = catalog.load("companies")
reviews = catalog.load("reviews")
shuttles = catalog.load("shuttles")

                    INFO     Loading data from 'companies' (CSVDataSet)...                      ]8;id=492153;file://C:\Users\D2O7L9C0\Anaconda3\envs\kedro-tutorial\lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=66200;file://C:\Users\D2O7L9C0\Anaconda3\envs\kedro-tutorial\lib\site-packages\kedro\io\data_catalog.py#343\343]8;;\

                    INFO     Loading data from 'reviews' (CSVDataSet)...                        ]8;id=500097;file://C:\Users\D2O7L9C0\Anaconda3\envs\kedro-tutorial\lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=457677;file://C:\Users\D2O7L9C0\Anaconda3\envs\kedro-tutorial\lib\site-packages\kedro\io\data_catalog.py#343\343]8;;\

                    INFO     Loading data from 'shuttles' (ExcelDataSet)...                     ]8;id=899642;file://C:\Users\D2O7L9C0\Anaconda3\envs\kedro-tutorial\lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=574206;file://C:\Users\D2O7L9C0\Anaconda3\envs\kedro-tutorial\lib\site-packages\kedro\io\data_catalog.py#343\343]8;;\

In [3]:
companies.head()

,id,company_rating,company_location,total_fleet_count,iata_approved
0,35029,100%,Niue,4.0,f
1,30292,67%,Anguilla,6.0,f
2,19032,67%,Russian Federation,4.0,f
3,8238,91%,Barbados,15.0,t
4,30342,NaN,Sao Tome and Principe,2.0,t

In [4]:
shuttles.head()

,id,shuttle_location,shuttle_type,engine_type,engine_vendor,engines,passenger_capacity,cancellation_policy,crew,d_check_complete,moon_clearance_complete,price,company_id
0,63561,Niue,Type V5,Quantum,ThetaBase Services,1.0,2,strict,1.0,f,f,"$1,325.0",35029
1,36260,Anguilla,Type V5,Quantum,ThetaBase Services,1.0,2,strict,1.0,t,f,"$1,780.0",30292
2,57015,Russian Federation,Type V5,Quantum,ThetaBase Services,1.0,2,moderate,0.0,f,f,"$1,715.0",19032
3,14035,Barbados,Type V5,Plasma,ThetaBase Services,3.0,6,strict,3.0,f,f,"$4,770.0",8238
4,10036,Sao Tome and Principe,Type V2,Plasma,ThetaBase Services,2.0,4,strict,2.0,f,f,"$2,820.0",30342

In [5]:
reviews.head()

,shuttle_id,review_scores_rating,review_scores_comfort,review_scores_amenities,review_scores_trip,review_scores_crew,review_scores_location,review_scores_price,number_of_reviews,reviews_per_month
0,63561,97.0,10.0,9.0,10.0,10.0,9.0,10.0,133,1.65
1,36260,90.0,8.0,9.0,10.0,9.0,9.0,9.0,3,0.09
2,57015,95.0,9.0,10.0,9.0,10.0,9.0,9.0,14,0.14
3,14035,93.0,10.0,9.0,9.0,9.0,10.0,9.0,39,0.42
4,10036,98.0,10.0,10.0,10.0,10.0,9.0,9.0,92,0.94

In [6]:

def _is_true(x: pd.Series) -> pd.Series:
    return x == "t"


def _parse_percentage(x: pd.Series) -> pd.Series:
    x = x.str.replace("%", "")
    x = x.astype(float) / 100
    return x


def _parse_money(x: pd.Series) -> pd.Series:
    x = x.str.replace("$", "").str.replace(",", "")
    x = x.astype(float)
    return x


def preprocess_companies(companies: pd.DataFrame) -> pd.DataFrame:
    """Preprocesses the data for companies.

    Args:
        companies: Raw data.
    Returns:
        Preprocessed data, with `company_rating` converted to a float and
        `iata_approved` converted to boolean.
    """
    companies["iata_approved"] = _is_true(companies["iata_approved"])
    companies["company_rating"] = _parse_percentage(companies["company_rating"])
    return companies


def preprocess_shuttles(shuttles: pd.DataFrame) -> pd.DataFrame:
    """Preprocesses the data for shuttles.

    Args:
        shuttles: Raw data.
    Returns:
        Preprocessed data, with `price` converted to a float and `d_check_complete`,
        `moon_clearance_complete` converted to boolean.
    """
    shuttles["d_check_complete"] = _is_true(shuttles["d_check_complete"])
    shuttles["moon_clearance_complete"] = _is_true(shuttles["moon_clearance_complete"])
    shuttles["price"] = _parse_money(shuttles["price"])
    return shuttles

In [7]:
shuttles.dtypes

id                           int64
shuttle_location            object
shuttle_type                object
engine_type                 object
engine_vendor               object
engines                    float64
passenger_capacity           int64
cancellation_policy         object
crew                       float64
d_check_complete            object
moon_clearance_complete     object
price                       object
company_id                   int64
dtype: object

In [8]:
preprocess_shuttles(shuttles)

[09/23/22 14:22:06] WARNING  C:\Users\D2O7L9C0\AppData\Local\Temp/ipykernel_33648/2991226044.py:12: ]8;id=345361;file://C:\Users\D2O7L9C0\Anaconda3\envs\kedro-tutorial\lib\warnings.py\warnings.py]8;;\:]8;id=524595;file://C:\Users\D2O7L9C0\Anaconda3\envs\kedro-tutorial\lib\warnings.py#109\109]8;;\
                             FutureWarning: The default value of regex will change from True to
                             False in a future version. In addition, single character regular
                             expressions will *not* be treated as literal strings when regex=True.
                               x = x.str.replace("$", "").str.replace(",", "")

,id,shuttle_location,shuttle_type,engine_type,engine_vendor,engines,passenger_capacity,cancellation_policy,crew,d_check_complete,moon_clearance_complete,price,company_id
0,63561,Niue,Type V5,Quantum,ThetaBase Services,1.0,2,strict,1.0,False,False,1325.0,35029
1,36260,Anguilla,Type V5,Quantum,ThetaBase Services,1.0,2,strict,1.0,True,False,1780.0,30292
2,57015,Russian Federation,Type V5,Quantum,ThetaBase Services,1.0,2,moderate,0.0,False,False,1715.0,19032
3,14035,Barbados,Type V5,Plasma,ThetaBase Services,3.0,6,strict,3.0,False,False,4770.0,8238
4,10036,Sao Tome and Principe,Type V2,Plasma,ThetaBase Services,2.0,4,strict,2.0,False,False,2820.0,30342
...,...,...,...,...,...,...,...,...,...,...,...,...,...
77091,4368,Barbados,Type V5,Quantum,ThetaBase Services,2.0,4,flexible,2.0,True,False,4107.0,6654
77092,2983,Bouvet Island (Bouvetoya),Type F5,Quantum,ThetaBase Services,1.0,1,flexible,1.0,True,False,1169.0,8000
77093,69684,Micronesia,Type V5,Plasma,ThetaBase Services,0.0,2,flexible,1.0,True,False,1910.0,14296
77094,21738,Uzbekistan,Type V5,Plasma,ThetaBase Services,1.0,2,flexible,1.0,True,False,2170.0,27363
77095,72645,Malta,Type F5,Quantum,ThetaBase Services,0.0,2,moderate,2.0,True,False,1455.0,12542